# Игнорировать виртуальное окружение
venv/
.venv/

# Игнорировать файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Игнорировать IDE файлы
.idea/
.DS_Store
*.iml

# Игнорировать временные файлы
*.tmp
*.bak
*.swp

# Игнорировать логи
logs/
*.log